.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1024px) { /*1024*/
    .lead{
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) { /*768*/
    .lead{
        max-width: 100%;
    }
}
@media screen and (max-width: 425px) { /*320*/
    .lead{
        
    }
}