.lead__title{
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    text-align: center;
    margin: 0;
    
}
@media screen and (min-width: 1024px) { /*1024*/
    .lead__title{
        
    }
}
@media screen and (min-width: 768px) { /*768*/
    .lead__title{
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
    }
}
@media screen and (min-width: 1280px) { /*320*/
    .lead__title{
    }
}