.cover{
    max-width: 100%;
    min-height: 740px;
    background-image: url(../../images/cover/dmitrii-vaccinium.png);
    background-size: cover;
    display: flex;
    align-content: center;
    
   
}
@media screen and (max-width: 1024px) { /*1024*/
    .cover{
        min-height: 640px; 
    }
}
@media screen and (max-width: 768px) { /*768*/
    .cover{
        min-height: 480px; 
    }
}
@media screen and (max-width: 425px) { /*320*/
    .cover{
        min-height: 200px; 
    }
}