.lead__images{
    max-width: 100%;
}
@media screen and (max-width: 1024px) { /*1024*/
    .lead__images{
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) { /*768*/
    .lead__images{
        max-width: 100%;
    }
}
@media screen and (max-width: 425px) { /*320*/
    .lead__images{
        max-width: 100%;
    }
}