.lead__caption{
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
/* identical to box height, or 140% */

    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 0;
}
@media screen and (max-width: 1024px) { /*1024*/
    .lead__caption{
        
    }
}
@media screen and (max-width: 768px) { /*768*/
    .lead__caption{
    margin-left: 24px;
    }
}
@media screen and (max-width: 425px) { /*320*/
    .lead__caption{
    margin-left: 16px;
    }
}