.place{
    display: grid;
    grid-template-columns: minmax(min-content, 460px) minmax(50%, 484px);
    gap: 48px 40px;
    margin: 0 auto 80px;
}
.place:last-of-type{
    margin: 0;
}
@media screen and (max-width: 1024px) { /*1024*/
    .place{
        grid-template-columns: minmax(min-content, 440px) minmax(50%, 456px);
        gap: 48px 32px;
    }
}
@media screen and (max-width: 768px) { /*768*/
    .place{
        grid-template-columns: minmax(min-content, 340px) minmax(50%, 352px);
        gap: 48px 28px;
        margin: 0 auto 73px;
    }
}

@media screen and (max-width: 550px) { /*320*/
    .place{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 0 auto 50px;
    }
}