.footer {
    max-width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 1024px) { /*1024*/
    .footer{
        max-width: 928px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 768px) { /*768*/
    .footer{
        max-width: 720px;
        }
    }
@media screen and (max-width: 490px) { /*320*/
    .footer{ 
        min-width: 186px;
        margin-left: 16px;
        flex-direction: column;
        gap: 48px;

    }
}